.fleetDisplayContainer{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fleetDisplayContainer h1{
    margin-top: 50px;
    color: red;
    font-size: 2.0rem;
    display: flex;
}

.headerbox{
    display: flex;
    height: 80px;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.rentalOptions{
    border: 2px solid white;
    color: red;
    width: 25%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    z-index: 4;
    cursor: pointer;
}

.rentalOptions h3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.optionsDisplayBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.9);
    row-gap: 20px;
    width: 20%;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 50px;
    color: white;
    align-self: center;
    border-radius: 10px;
    visibility: hidden;
}

.optionsDisplayBoxDisplay{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1.2rem;
    padding: 10px;
    color: white;
    align-self: center;
    background-color: rgba(11, 10, 10, 0.9);
    border-radius: 10px;
    animation: displayBox 1s linear  1 normal forwards;
    visibility: visible;
    width: max-content;
    margin-left: 10rem;
    height: 40%;
}

@keyframes displayBox {
    0% {
        height: 50px;
        opacity: 0;
        overflow: hidden;
        margin-top: 30px;
    }

    50%{overflow: hidden;}
    
    100% {
        opacity: 100%;
        margin-top: 45px;
    }
}

.optionsDisplayBox p:hover{
    color: red;
    border: 1px solid black;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.sortOption select{
    width: 200%;
    height: 70%;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
}

.rentalDisplayBox{
    position: relative;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    flex-wrap: wrap;
}
.rentalDisplayBox .imagebox{
    flex-basis: 370px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(7, 7, 7); 
    border-radius: 10px;
}

/**
*! LOGO SLIDER STYLE
**/

.logoSlide {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    margin-top: 70px;
    position: relative;
    gap: 10px;
}

.logoSlide::before,
.logoSlide::after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logoSlide::before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), black);
}

.logoSlide::after {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), black);
}

.imgaeSlider{
    white-space: nowrap;
    animation: slider 20s linear  infinite  ;
}

@keyframes slider {
    0% { transform: translateX(calc(0)); }
    100% { transform: translateX(calc(-150px * 7)); }
}

.logoSlide img {
    width: 200px;
}

/**
*! VIP EXPERIENCE PAGE STYLE
**/
.topbackGroundImage{
    background-image: url(../images/justus-menke-CjLpfGGdfiY-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(90%);
    opacity: 35%;
    height: 100vh;
}

.theExperienceContainer{
    display: flex;
    flex-direction: column;
    margin-top: -450px;
    padding: 20px;
    /* border: 2px solid green; */
}
.theExperienceContainer h1{
    color: red;
    margin-bottom: 150px;
}
.roadSide-ExpressWrapper{
    display: flex;
    height: 400px;
    column-gap: 20px;
}

.vipMemProg h2,
.vipChuffSvc h2,
.expressReservation h2,
.roadSide h2, 
.express h2{
    color: rgb(7, 0, 0);
    background-color: rgba(248, 243, 243, 0.5);
    border-radius: 10px;
    font-size: 2rem;
    color: red;
    padding: 10px;
    
}

.roadSide p, 
.express p,
.vipChuffSvc p,
.expressReservation p,
.vipMemProg p{
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 25px;
    color: rgb(6, 0, 0);
    background-color: rgba(247, 247, 247, 0.9);
    opacity: 80%;
    border-radius: 10px;
    padding: 10px;
}

.roadSide{
    background-image: url(../images/roadside\ tire\ change.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    filter: grayscale(50%);
    cursor: pointer;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.roadSide::before,
.roadSide::after,
.express::before,
.express::after,
.vipChuffSvc::before,
.vipChuffSvc::after,
.expressReservation::before,
.expressReservation::after,
.vipMemProg::before,
.vipMemProg::after{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
}

.roadSide::before, 
.express::before,
.vipChuffSvc::before,
.expressReservation::before,
.vipMemProg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(228, 8, 8, 0.7);
    transition: opacity 0.3s;
}
  
.roadSide:hover::before,
.express:hover::before,
.vipChuffSvc:hover::before,
.expressReservation:hover::before,
.vipMemProg:hover::before{
    opacity: 0;
    color: black;
}

.fa-clock, 
.fa-car,
.fa-bell,
.fa-gem{
    font-size: 3rem;
    margin: 20px;
    color: red;
}

.express{
    background-image: url(../images/jakob-rosen-M8zjUiClRvw-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    filter: grayscale(50%);
    cursor: pointer;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.fa-rocket{
    font-size: 3rem;
    margin: 20px;
    color: red; 
}

.chuffExpreMemb{
    display: flex;
    height: 400px;
    column-gap: 20px; 
    margin-top: 30px;
}
.vipChuffSvc{
    background-image: url(../images/why-kei-8e2gal_GIE8-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    filter: grayscale(50%);
    cursor: pointer; 
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.expressReservation{
    background-image: url(../images/andrey-zvyagintsev-cj8RKNAN1jY-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    filter: grayscale(50%);
    cursor: pointer;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.vipMemProg{
    background-image: url(../images/kristin-wilson-alEMgpX6oo8-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    filter: grayscale(50%);
    cursor: pointer;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.regbutton{
    width: 200px;
    height: 50px;
    background-color: white;
    color: red;
    margin: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}











